<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us-Fast & Yummy</title>
       <link rel="stylesheet"  href="" th:href="@{/css/aboutus.css}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<header>


	<div class="logo">
		<img src="images/logo.jpg" alt="">
		</div>
	
	
<nav>
    	<ul>
    	
    	<li>	<h5><a th:href="@{/register}">Sign Up</a></h5> </li>
    	<li>	<h5><a th:href="@{/login}">Login</a></h5> </li>
    	<li>	<h5><a th:href="@{/Vendor}">Vendor</a></h5> </li>
    	<li>    <h5><a th:href="@{/About_Us}">About Us</a></h5> </li>
    	<li>    <h5><a th:href="@{/contact}">Contact</a></h5> </li>
    	
    	 </ul>
    	</nav>
      </header>
<body>
        <section class="about">
            <div class="main">
                <img src="./images/about us.jpg">
                <div class="about-text">
                    <h1>About Us</h1>
                    <p> For us, It's not just about bringing you good food your favorite restaurants, It's about making a connection, which is why sit down with the chefs, dreaming up menus that will arrive fresh and full of flavor. Try us!</p>
                    <button type="button">let's talk</button>
                </div>
            </div>
        </section>
    </body>
</html>