<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">

	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"  href="" th:href="@{/css/profile.css}" />
	
</head>
<body>
<div class="Home-bar">
	 <b>[[${#request.userPrincipal.principal.fullName}]]</b>
        <ul>
            <li class="Home.html"><a href=Home.html><i class="fa fa-home"></i>Home</a></li>
            <li class="Menu.html"><a href="Menu.html"><i class="fa fa-clone"></i>Menu</a></li>
            <li class="Profile.html"><a href="profile"><i class="fa fa-user-circle-o"></i>Profile</a></li>
            <li class="MyCart.html"><a href="MyCart.html"><i class="fa fa-shopping-cart"></i>My Cart</a></li>
            <li class="Contact.html"><a href="Contact.html"><i class="fa fa-phone"></i>Contact</a></li>
            <li class="AboutUs.html"><a href="AboutUs.html"><i class="fa fa-users"></i>About Us</a></li>
        </ul>
    </div>







</body>
	

</html> 