
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
	background-image: url("../images/Home.jpg");
    background-size: 120%;
    background-position: center;
    font-family: sans-serif;
    	 background-repeat: no-repeat;
}
.Home-bar
{
    background: rgb(0,100,0);
    text-align: center;
}
.Home-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
    
}
.Home-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.Home-bar ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, .Home-bar ul li:hover
{
background: #2bab0d;
border-radius: 3px;
}
.Home-bar .fa
{
    margin-right: 8px;
}
*:focus{
outline: none;

}
.box{
	
box-sizing: border-box;
width: 159px;
height: 159px;
border:2px solid #3498db;
box-shadow: -3px -3px 7px #ffffff73,
3px 3px 5px rgba(94,104,121,0.288);
border-radius: 50%;
background-color: black;
margin-top: 90px;
overflow: hidden;
transition: all 1s;
}
.box:hover{
width: 360px;
height: 600px;
border-radius: 5px;
}
img{
box-sizing: border-box;
width:159px;
height:159px;
border-radius:50%;
margin:0;
border:0px solid #0082e6;
padding: 0px;
background-color: white;
overflow: hidden;
transition: all 1s;

}
.box:hover img{
width: 100px;
height: 100px;
margin:0px 35% ;
}
hr{
width:500px;
line-height:20px;
margin:10px 10px 10px 10px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
display: block;
box-sizing: border-box;
color: #3498db;
margin-bottom: 30px;
padding: 4px;
width: 230px;
height: 32px;
border: none;
border-bottom: 1px solid #0082e6;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 15px;
transition: 0.2s ease;
background: none;
}
input[type="text"]{
margin-top: 25px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
border-bottom: 2px solid #3498db;
border-bottom-right-radius:20px;
color: #3498db;
transition: 0.2s ease;
background: black;
border-top: none;
}


button{
border:2px solid #3498db;
background-color: black;
color:white;
height: 30px;
width: 100px;
border-radius: 20px;
left:0;
margin:0px;

transition: all .3s;
}
button:hover{
transform: scale(1.1);
background-color: #566573;
}
input[type="file"]{
display:none;
}
label{
box-sizing: border-box;
width:90px;
height:40px;
background-color: black;
color:white;
border:1px solid #3498db;
background-color: black;
color:white;
padding: 4px;
border-radius: 2px;
}
label:hover{
background-color: #566573;
transform: scale(1.1);
}


select[class],option
{
border-bottom: 2px solid #3498db;
border-bottom-right-radius:20px;
color: #3498db;
transition: 0.2s ease;
background: black;
border-top: none;
width: 230px;
height: 33px;
}

.Home-bar b{
	 font-family: sans-serif;
	color: #ff0000;
}
.button type{
	margin: 10px 0 0 18.2%;
}